$darkest: #1a1a1a;
$darker: #21252c;
$dark: #272c33;
$medium-dark: #50595e;
$medium: #939799;
$medium-light: #9ca3a7;

$black: #272c33;
$gray: #abb1bf;
$white: #d3d3d3;
$blue: #5cadf1;
$cyan: #51b5c3;
$green: #96c475;
$magenta: #c774df;
$red: #e26a72;
$yellow: #d29a61;

$black-85: #272c33d8;
$gray-85: #727680d8;
$white-85: #aaaaaad8;
$blue-85: #3c709bd8;
$cyan-85: #3d8a94d8;
$green-85: #668550d8;
$magenta-85: #8b529bd8;
$red-85: #91454ad8;
$yellow-85: #805d3bd8;

$gray-darkest: #2a2b2e;
$blue-darkest: #213846;
$cyan-darkest: #153135;
$green-darkest: #1d2b14;
$magenta-darkest: #351a3d;
$red-darkest: #311718;
$yellow-darkest: #352413;

$blue-darker: #3c8dc1;
$gray-darker: #787d86;
$blue-darkest-85: #202933d8;
$white-lighter: #ececec;

$std-yellow: #eedd00;

$ulysses-highlight-fg: rgb(235, 210, 72);
$ulysses-highlight-bg: rgb(104, 93, 46);
$ulysses-blue: #46acdb;
$ulysses-pink: #dd54a2;

$mist: #6e7a9144;